<!--Section: Block Content-->
<section class="mb-5">

  <div class="d-flex">
<!--  image  -->
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0 ">
            <figure class="view  rounded z-depth-1 main-img">

                <img src="{{product.url}}" class="img-fluid z-depth-1" width="auto" height="auto" alt="">

            </figure>
          </div>

        </div>

      </div>

    </div>
<!--  end image  -->
<!--    details-->
    <div class="d-flex align-items-center col-md-6 ">
      <div>
        <h5 class="text-capitalize">{{product.title}}</h5>
        <p class="mb-2 text-muted text-uppercase small">{{product.category}}</p>

        <p><span class="mr-1"><strong>{{product.price}} DT</strong></span></p>
        <p class="pt-1">{{product.description}}</p>

        <hr>
        <div class="table-responsive table-borderless mb-2">
          <table class="table table-sm table-borderless">
            <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Quantity</td>


              <td class="pl-0">
                <div class="def-number-input number-input safari_only mb-0">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                  <input disabled class="quantity" name="quantity" value="1" type="number" min="1" max="10">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                </div>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary " (click)="addToCart()" routerLink="/shopping-cart">Buy now</button>
        <button type="button" class="btn btn-light ml-3" (click)="addToCart()">
          <i class="fa fa-shopping-cart"></i> Add to cart</button>
      </div>
    </div>
<!--  end details  -->
  </div>

</section>
<!--Section: Block Content-->
