
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
              <li><i class="ti-email"></i> support@shophub.com</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li><i class="ti-location-pin"></i> Store location</li>
              <li><i class="ti-alarm-clock"></i> <a routerLink="/shop">Daily deal</a></li>
              <li><i class="ti-user"></i> <a routerLink="/signup">My account</a></li>
              <li><i class="ti-power-off"></i><a routerLink="/signin">Login</a></li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a routerLink="/home" ><img src="assets/images/logo.png" alt="logo"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style=""><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
            <li class="active"><a class="nav-link" routerLink="/home" role="menuitem" tabindex="-1">Home</a></li>
            <li><a class="nav-link" routerLink="/shop" role="menuitem" tabindex="-1">Shop</a></li>
            <li><a routerLink="/contactus" role="menuitem" tabindex="-1">Contact Us</a></li>
          </ul></div></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">

              <div class="nice-select open" tabindex="0">
                <span class="current" (click)=" selectList.toggleAttribute('hidden')">All Category</span>
                <ul #selectList class="list" hidden>
                  <li data-value="All Category" class="option selected focus">All Category</li>
                  <li data-value="watch" class="option">watch</li>
                  <li data-value="mobile" class="option">mobile</li>
                  <li data-value="kid’s item" class="option">kid’s item</li>
                </ul>
              </div>
              <form>
                <input name="search" placeholder="Search Products Here....." type="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar shopping">
              <a routerLink="/shopping-cart" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
              <!-- Shopping Item -->
              <div class="shopping-item">
                <div class="dropdown-cart-header">
                  <span>2 Items</span>
                  <a routerLink="/shopping-cart">View Cart</a>
                </div>
                <ul class="shopping-list" >
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Ring</a></h4>
                    <p class="quantity">1x - <span class="amount">$99.00</span></p>
                  </li>
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Necklace</a></h4>
                    <p class="quantity">1x - <span class="amount">$35.00</span></p>
                  </li>
                </ul>
                <div class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="total-amount">$134.00</span>
                  </div>
                  <a routerLink="/home" class="btn animate">Checkout</a>
                </div>
              </div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading"  (click)="sidenav.toggleAttribute('hidden')"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
              <div #sidenav hidden>
                <ul class="main-category" >
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">accessories</a></li>
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">top 100 offer</a></li>
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">sunglass</a></li>
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">watch</a></li>
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">man’s product</a></li>
                    <li><a routerLink="/shop" (click)="sidenav.toggleAttribute('hidden')">ladies</a></li>
                    <li><a routerLink="/shop"  (click)="sidenav.toggleAttribute('hidden')">westrn dress</a></li>
                    <li><a routerLink="/shop"  (click)="sidenav.toggleAttribute('hidden')">denim </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="active"><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/shop">Shop<span class="new">New</span></a>
                      </li>
                      <li><a routerLink="/contact-us">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
