<!--<p>admin works!</p>-->
<!--<div class="wrapper d-flex align-items-stretch" >-->
<!--<app-sidenav-list></app-sidenav-list>-->


<!--<div id="content" class="p-4 p-md-5 pt-5">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">-->

<div class="wrapper">
 <app-sidenav-list ></app-sidenav-list>

  <div class="header pb-6">
    <div class="container-fluid">
      <div class="">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>


</div>

