
<div class="px-4 px-lg-0">
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Reference</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Date</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Total Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">State</div>
                </th>

              </tr>
              </thead>
              <tbody class="bg-info" *ngFor="let order of listOrders; let index">
              <tr>
                <th scope="row" class="border-0">
                  <div class="p-2">
                    <!--                    <img src="{{product.url}}" alt="{{product.description}}" width="70" class="img-fluid rounded shadow-sm">-->
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"> <a  class="text-dark d-inline-block align-middle">{{order.ref}}</a></h5>
                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle"><strong>{{order.date}} DT</strong></td>
                <td class="border-0 align-middle"><strong>{{order.totalPrice}} DT</strong></td>
                <td class="border-0 align-middle">
                  <strong>   {{order.validated? 'Shipped' : 'On Hold'}}   </strong>

                </td>
                <td  class="border-0 align-middle">
<!--                  <a class="text-dark" (click)="deleteItem(index)"></a>-->
                  <button class="btn btn-warning" (click)="validate(order)">Validate</button>
                  <button class="btn btn-success" (click)="delete(order)"><i class="fa fa-trash"></i></button>
                  <button class="btn btn-warning" (click)="bilan.toggleAttribute('hidden') ">Show Details</button>
                </td>
              </tr>
                <tr>
                <div #bilan hidden >
                  <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                      <!-- Shopping cart table -->
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col" class="border-0 bg-light">
                              <div class="p-2 px-3 text-uppercase">Product</div>
                            </th>
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase">Price</div>
                            </th>
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase">Quantity</div>
                            </th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let product of order.prodList; let index">
                          <tr>
                            <th scope="row" class="border-0">
                              <div class="p-2">
                                <img src="{{product.url}}" alt="{{product.description}}" width="70" class="img-fluid rounded shadow-sm">
                                <div class="ml-3 d-inline-block align-middle">
                                  <h5 class="mb-0"> <a  class="text-dark d-inline-block align-middle">{{product.title}}</a></h5>
                                </div>
                              </div>
                            </th>
                            <td class="border-0 align-middle"><strong>{{product.price}} DT</strong></td>
                            <td class="border-0 align-middle">
                              <strong>   {{product.quantity}}   </strong>
                            </td>
<!--                            <td class="border-0 align-middle">-->
<!--                              <a class="text-dark" (click)="deleteItem(index)"><i class="fa fa-trash"></i></a>-->
<!--                            </td>-->
                          </tr>

                          </tbody>
                        </table>
                      </div>
                      <!-- End -->
                    </div>
                  </div>
                </div>


              </tr>

              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>



<!--<table class="table" border="2">-->
<!--  <tr><th>Ref</th><th>Date</th><th>totalPrice</th><th>validated</th></tr>-->
<!--  <tbody  *ngFor="let order of listOrders; let i = index" >-->
<!--  <tr class="bg-info">-->
<!--    <td>{{order.ref}}</td>-->
<!--    <td>{{order.date}}</td>-->
<!--    <td>{{order.totalPrice}}</td>-->
<!--    <td>{{order.validated}}</td>-->
<!--    <td>-->
<!--      <button class="btn btn-warning" (click)="validate(order)">Validate</button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button class="btn btn-success" (click)="delete(order)">Delete</button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button class="btn btn-warning" (click)="bilan.toggleAttribute('hidden') ">Show Details</button>-->
<!--    </td>-->
<!--  </tr>-->

<!--  <div class="" #bilan hidden >-->
<!--    <h5>Product List</h5>-->
<!--    <tr><th>Product</th><th>Quantity</th></tr>-->
<!--    <div *ngFor="let prod of order.prodList">-->
<!--    <tr class="bg-light">-->
<!--      <td>{{prod.title}}</td>-->
<!--      <td>{{prod.quantity}}</td>-->
<!--    </tr>-->
<!--    </div>-->
<!--  </div>-->
<!--  </tbody>-->
<!--</table>-->

