
<div class="wrapper fadeInDown">
  <div id="formContent" >
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" >
      <i class="fa fa-user-circle " ></i>
    </div>

    <!-- Login Form -->
    <form #f="ngForm">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="user.email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="user.password">
      <button [disabled]="f.invalid"  type="submit" class="btn btn-primary fourth" value="Log In" (click)="login()">Log In</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
